[submodule "greenhouse_inventory"]
	path = greenhouse_inventory
	url = https://github.com/JavaToster/greenhouse_inventory.git
[submodule "greenhouse_authentication"]
	path = greenhouse_authentication
	url = https://github.com/JavaToster/greenhouse_authentication.git
[submodule "greenhouse_telemetries"]
	path = greenhouse_telemetries
	url = https://github.com/JavaToster/greenhouse_telemetries.git
